body {
    background-color: rgb(33, 33, 33);
}
body {
    cursor: url('cursor.png'), auto;
}
.header {
    margin: auto;
    width: 79%;
}
.palette {
    margin: auto;
    width: 80%;
}
.lana01 { 
    position: relative; 
    width: 320px;
    left: 225px;
    top: -735px;
  } 
  .lana01 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana01:hover img { 
    opacity: 1; 
  } 

  .lana02 { 
    position: relative; 
    width: 320px;
    left: 533px;
    top: -1053px;
  } 
  .lana02 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana02:hover img { 
    opacity: 1; 
  } 
  .lana03 { 
    position: relative; 
    width: 320px;
    left: 841px;
    top: -1373px;
  } 
  .lana03 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana03:hover img { 
    opacity: 1; 
  } 
  .lana04 { 
    position: relative; 
    width: 320px;
    left: 225px;
    top: -1373px;
  } 
  .lana04 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana04:hover img { 
    opacity: 1; 
  } 
  .lana05 { 
    position: relative; 
    width: 320px;
    left: 533px;
    top: -1690px;
  } 
  .lana05 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana05:hover img { 
    opacity: 1; 
  } 
  .lana06 { 
    position: relative; 
    width: 320px;
    left: 841px;
    top: -2011px;
  } 
  .lana06 img { 
    width: 100%; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.2s ease; 
  } 
   
  .lana06:hover img { 
    opacity: 1; 
  } 
  .lana-big {
    position: relative;
    left: 200px;
    top: -2000px;
  }
  .bio {
    position: relative;
    top: -2400px;
  }
  