body {
    background: rgb(251,243,208);
    background: radial-gradient(circle, rgba(251,243,208,1) 0%, rgba(199,224,253,1) 100%);
}
.header {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.image {
        position: relative;
        width: 100px;
        height: 100px;
    }
    .imageTwo {
        z-index: 1;
        left: 100px;
        bottom: 3150px;
        .pop{
            width: 1200px;
          }
            .pop:active{
            position:relative;
            right: 55px;
            top: 50px ;
            width: 2000px;
            }
    }

.image01 {
    width: 800px;
    position: relative;
    left: 50px;
    bottom: 350px;
}

.image02 {
    width: 800px;
    position: relative;
    left: -100px;
    bottom: 700px;
}

.image03 {
    width: 800px;
    position: relative;
    left: 430px;
    bottom: 1250px;
}

.NEW-YORK {
    position: relative;
    font-size: 40px;
    bottom: 2850px;
    left: 810px;
    color: #001D5B;
}
.HEADLINING {
    position: relative;
    font-size: 40px;
    bottom: 2850px;
    left: 800px;
    color: #001D5B;
}

.QUEEN {
    position: relative;
    font-size: 40px;
    bottom: 2850px;
    left: 850px;
    color: #001D5B;
}